
/* Reset */

* {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}
button, input, select, option {
    border: initial;
    background-color: initial;
    color: inherit;
    font: inherit;
    outline: none; /* make visual indicator for focus states */
}

body {
    background-image: url(./img/tenor.gif);
    background-size: cover;
}
h1, #mass[type="text"],input[type="button"], select {
    color: white;
}
h1 {
    text-align: center;
    margin-top: 2rem;
}
option {
    background-color: rgb(0, 0, 0);
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 2rem;
    text-align: center;
}

#mass {
    background-color: transparent;
    border-bottom: 1px white groove;
} 
input[type="button"]:hover, #mass[type="text"]:hover, select:hover, option:hover {
    color: lightgrey;
}
input[type="button"]:active {
    color: gray;
}